.card{
  border: none;
  border-radius: .12em;

  &.card-transparent{
    background-color: $transparent-white;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 8px;

    .card-body{
      padding: 3em;
    }
  }

  &.card-rounded{
    border-radius: 0.5em;
  }

  &.card-bg{
    background-size: cover;
    overflow: hidden;

    &:after{
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: $gradient-blue;
    }

    .card-body{
      color: $white;
      font-weight: 600;
      z-index: 1;
    }
  }

  .card-header{
    position: relative;
    background-color: $slate;
    color: $white;
    padding: 1.25em;
    border-top-left-radius: .12em;
    border-top-right-radius: .12em;

    &[data-toggle="collapse"]{
      cursor: pointer;

      &:before,
      &:after{
        content: " ";
        position: absolute;
        height: 2px;
        width: 24px;
        right: 24px;
        background-color: #fff;
        top: 50%;
        margin-top: -1px;
        transition: all 0.6s ease;
      }
    }

    &.collapsed{
      border-radius: .12em;

      &[data-toggle="collapse"]:before{
        transform: rotate(180deg);
      }

      &[data-toggle="collapse"]:after{
        transform: rotate(90deg);
      }
    }
  }

  .card-body{
    padding: 1.25em;
  }

  &:hover{
    text-decoration: none;
  }
}

@media(max-width: 767px){
  .card{

    &.card-transparent{

      .card-body{
        padding: 1.5em;
      }
    }
  }
}